body {
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;

    .item {
        background-color: rgb(218, 218, 218);

        a {
            color: black;
            text-decoration: none;

            img {
                width: 100%;
            }

            .info {
                padding: 0 1rem;
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;

    input,
    textarea {
        margin-bottom: 1rem;
    }
}

nav {
    ul {
        display: flex;
        gap: 1rem;
        padding-left: 0;

        li {
            list-style-type: none;
        }
    }
}
