body {
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.grid .item {
  background-color: rgb(218, 218, 218);
}

.grid .item a {
  color: black;
  text-decoration: none;
}

.grid .item a img {
  width: 100%;
}

.grid .item a .info {
  padding: 0 1rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

form input,
form textarea {
  margin-bottom: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
}

